/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }

  /* Basic styling for body and layout */
  body {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    text-transform: uppercase;
    line-height: 1.2;
    background-color: #090a0e;
  }

  a {
    text-decoration: none;
    color: #fbdc6a;
  }

  a:hover {
    color: #b12b24; /* Adds a hover effect */
  }

  /* Parallax Section Styling */
  .parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  #background1 {
    background-image: url('banner.jpg');
  }
  
  #background2 {
    background-image: url('footer.jpg');
  }

  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
    border-top: 1px solid white
  }
  
  /* Section Styling */

  .content {
    color: #fbdc6a;
    text-align: center;
    max-width: 1200px;
    height: 70%;
    margin: 0 auto;
    overflow: hidden;
  }
  

          /* Banner */

  #banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
  }

  h1 {
    font-size: 10rem;
    text-align: center; /* Ensures proper alignment */
    overflow-wrap: normal; /* Prevents breaking of words */
    white-space: normal; /* Allows text wrapping */
    word-break: normal; /* Prevents breaking words in the middle */
  }

  nav {
    display: flex;
    justify-content: space-around;
    margin-top: 400px;
  }

  h3 {
    font-size: 3rem;
  }


          /* Out Now */

  #outnow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  #outnow-new {
    font-size: 7rem;
    color: #fbdc6a
  }

  #outnow-normal {
    font-family: "Roboto", serif;
    font-weight: 900;
    line-height: 0.6; 
    font-size: 12rem;
    color: #b12b24;
  }

  #outnow-bold {
    font-family: "Roboto", serif;
    font-weight: 900;
    line-height: 0.6;
    font-size: 17rem;
    color: #b12b24;
  }

  #outnow-bold:hover, #outnow-normal:hover {
    color: #760504;
  }

  
          /* Merch */

  h2 {
    font-size: 3rem;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .merch-container {
    display: flex;
    justify-content: space-around;
  }

  .image-container {
    width: 50%;
    margin: 10px;
  }
  
  img {
    max-width: 70%;
    height: auto;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 400;
    text-transform: none;
    color: white;
  }
  
  button a {
    color: white;
  }

  button a:hover {
    color: #fbdc6a;
  }

  button {
    color: white;
    background-color: #090a0e;
    font-size: 1rem;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 4px;
  }

  button:hover {
    border: 1px solid #fbdc6a
  }

        /* Realeases */

  .releases-container {
    display: flex;
    justify-content: space-around;
  }

  
  #releases {
    max-width: 1600px;
  }

  /* Footer Styling */
  footer {
    background-color: #090a0e;
    color: #fbdc6a;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
  }

  footer p {
    font-size: 1rem;
    color: #fbdc6a;
    margin: 10px;
  }

  

/* Responsive Design */
@media (max-width: 1200px) {

  h1 {
    font-size: 4rem;
  }

  #outnow-new { 
    font-size: 3rem;
  }

  #outnow-normal { 
    font-size: 8rem;
  }

  #outnow-bold {
    font-size: 11rem;
  }

  #outnow iframe {
    width: 80%;
  }
  
  .merch-container {
      flex-direction: column;
      align-items: center;
  }

  .releases-container {
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 768px) {
  
  #outnow-normal { 
    font-size: 5rem;
  }

  #outnow-bold {
    font-size: 7rem;
  }

  #outnow iframe {
    width: 80%;
  }

  .merch-container {
      flex-direction: column;
      align-items: center;
  }

  .releases-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {

  #outnow-normal { 
    font-size: 3rem;
  }

  #outnow-bold {
    font-size: 5rem;
  }

  #outnow iframe {
    width: 80%;
  }
  
  .merch-container {
      flex-direction: column;
      align-items: center;
  }

  .releases-container {
    flex-direction: column;
    align-items: center;
  }

}

