/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }

  /* Basic styling for body and layout */
  body {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    text-transform: uppercase;
    line-height: 1.2;
    background-color: #090a0e;
  }

  li {
    list-style: none;
    margin: 0 20px;
  }

  a {
    text-decoration: none;
    color: #fbdc6a;
  }

  a:hover {
    color: #b12b24; /* Adds a hover effect */
  }

  /* Parallax Section Styling */
  .parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  #background1 {
    background-image: url('banner.jpg');
  }
  
  #background2 {
    background-image: url('footer.jpg');
  }

  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
    border-top: 1px solid white
  }
  
  /* Section Styling */

  .content {
    color: #fbdc6a;
    text-align: center;
    max-width: 1200px;
    height: 70%;
    margin: 0 auto;
    overflow: hidden;
  }
  

          /* Banner */

  #banner {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  }

  h1 {
    font-size: clamp(4rem, 8vw, 10rem); /* Dynamically scales font size */
    grid-area: 3 / 1 / 4 / 5;
    text-align: center; /* Ensures proper alignment */
    overflow-wrap: normal; /* Prevents breaking of words */
    white-space: normal; /* Allows text wrapping */
    word-break: normal; /* Prevents breaking words in the middle */
  }

  #list1, #list2 {
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  
  #list1 {
    grid-area: 4 / 1 / 5 / 3;
    justify-content: center;
  }

  #list2 {
    grid-area: 4 / 3 / 5 / 5;
    justify-content: center;
  }

          /* Out Now */
  
  #outnow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #outnow h2 {
    font-family: "Roboto", serif;
    font-weight: 900;
    color: #b12b24;
    line-height: 0.6;
  }

  #outnow-normal { 
    font-size: 12rem;
    padding-top: 20px;
  }

  #outnow-bold {
    font-size: 17rem;
    padding-bottom: 50px;
  }

  #outnow h2:hover {
    color: #760504;
  }
  
          /* Merch */

  h2 {
    font-size: 2rem;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .merch-container {
    display: flex;
    justify-content: space-around;
  }

  .image-container {
    width: 50%;
    margin: 10px;
  }
  
  img {
    max-width: 70%;
    height: auto;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 400;
    text-transform: none;
    color: white;
  }
  
  button a {
    color: white;
  }

  button a:hover {
    color: #fbdc6a;
  }

  button {
    color: white;
    background-color: #090a0e;
    font-size: 1rem;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 4px;
  }

  button:hover {
    border: 1px solid #fbdc6a
  }

        /* Realeases */

  .releases-container {
    display: flex;
    justify-content: space-around;
  }

  
  #releases {
    max-width: 1600px;
  }

  /* Footer Styling */
  footer {
    background-color: #090a0e;
    color: #fbdc6a;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
  }

  footer .left {
    display: flex;
    width: 40%;
    display: flex;
    justify-content: center;
  
  }

  footer .right {
    display: flex;
    width: 40%;
    display: flex;
    justify-content: center;

  }

  footer p {
    font-size: 1rem;
    color: #fbdc6a;
    margin: 10px;
  }

  

/* Responsive Design */
@media (max-width: 1200px) {
 
  #list1, #list2 {
      font-size: 2rem;
  }
 
  #outnow-normal {
      font-size: 8rem;
  }

  #outnow-bold {
      font-size: 12rem;
  }

  .merch-container {
      flex-direction: column;
      align-items: center;
  }

  .releases-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  #list1, #list2 {
      font-size: 1.5rem;
  }

  #outnow-normal {
      font-size: 6rem;
  }

  #outnow-bold {
      font-size: 8rem;
  }

  .merch-container {
      flex-direction: column;
      align-items: center;
  }

  .releases-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  #list1, #list2 {
      font-size: 1rem;
  }

  #outnow-normal {
    font-size: 2rem;
  }

  #outnow-bold {
      font-size: 4rem;
  }
  .releases-container {
    flex-direction: column;
    align-items: center;
  }

}

